site_name: Multiplex Pipeline
theme:
  name: material

nav:
  - Home: index.md
  - Usage: usage.md
  - Configuration:
    - Overview: configuration/index.md
    - Core Selection: configuration/core-selection.md
    - Core cutting: configuration/core-cutting.md
    - Channel Selection: configuration/channel-selection.md
  - API Reference: api.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_root_toc_entry: false
            merge_init_into_class: true
            show_source: false
            extra:
              show_symbol_type: true
