name: tests

on:
  push:
    branches:
      - main
    tags:
      - "v*" # Trigger deploy when you push a tag like v0.1.0
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        # Standard matrix for cross-platform support
        platform: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools tox tox-gh-actions

      - name: Test with tox
        run: python -m tox
        env:
          PLATFORM: ${{ matrix.platform }}

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          name: plex_pipe
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
